footer
    .container
        .row
            .lg-4.md-6
                .box
                    p.title Телефоны
                    p
                        a(href='#') 8 (017) 291-06-03
                        a(href='#') 8 (017) 291-06-05
                .box
                    p.title Факс
                    p
                        a(href='#') 8 (017) 291-06-03
                        a(href='#') 8 (017) 291-06-05
                .box
                    p.title E-mail
                    p
                        a(href='#') amik@paket.by
            .lg-3.md-6.footer__catalog
                .box
                    p.title Каталог
                    p
                        a(href='#') Стаканы
                        a(href='#') Крышки
                        a(href='#') Упаковка
                        a(href='#') Контейнеры
                        a(href='#') Креманки
                        a(href='#') Посуда
                        a(href='#') Дополнительный ассортимент
                        a(href='#') Упаковочная бумага
                        a(href='#') Акции
            .lg-5.md-12
                .box
                    p.title Время работы
                    p Время работы: Пн-пт: 8-00 - 17-00, Сб, Вс:  выходной
                .box
                    p.title Адрес
                    p 220024, г.Минск ул. Бабушкина 54, к.205
                    p
                        | ООО «Амик-О»<br>
                        | Юр. адрес: 220012, РБ, г. Минск, ул. Сурганова, д.27, оф.33<br>
                        | В торговом реестре РБ с 6 февраля 2017 года №366910<br>
                        | УНП: 192743895<br>
                        | Выдано Минским Городским исполнительным комитетом 06.12.2016 г.
            .lg-12.footer__navbar
                a(href='#') Каталог
                a(href='#') Печать логотипов
                a(href='#') О нас
                a(href='#') Доставка
                a(href='#') Оплата
                a(href='#') Контакты