.top__line
    .container

header
    .header__wrapper
        .container
            .row
                .lg-3.logo
                    a(href='#')
                        img(src='./img/logo.png')
                .lg-6
                    .search
                        input(type='search' placeholder='Поиск товара')
                .lg-3.header__cart
                    a(href='#')
                        img(src='./img/shopping-cart.svg')
                        span.cart__count 0
    .header__navbar
        .container
            ul.navbar__wrapper
                li.catalog__link
                    a(href='./catalog.html') Каталог
                    span
                    ul.catalog__menu
                        li.catalog__sublink
                            a(href='#')
                                span
                                    img(src='./img/menu_ico/growth.svg')
                                | Экопродукция
                            ul.catalog__submenu
                                li: a(href='#') Экопродукция
                        li.catalog__sublink
                            a(href='#')
                                span
                                    img(src='./img/menu_ico/growth.svg')
                                | Экопродукция
                            ul.catalog__submenu
                                li: a(href='#') Экопродукция
                        li.catalog__sublink
                            a(href='#')
                                span
                                    img(src='./img/menu_ico/growth.svg')
                                | Экопродукция
                            ul.catalog__submenu
                                li: a(href='#') Экопродукция
                        li.catalog__sublink
                            a(href='#')
                                span
                                    img(src='./img/menu_ico/growth.svg')
                                | Экопродукция
                            ul.catalog__submenu
                                li: a(href='#') Экопродукция
                        li.catalog__sublink
                            a(href='#')
                                span
                                    img(src='./img/menu_ico/growth.svg')
                                | Экопродукция
                            ul.catalog__submenu
                                li: a(href='#') Экопродукция
                        li.catalog__sublink
                            a(href='#')
                                span
                                    img(src='./img/menu_ico/growth.svg')
                                | Экопродукция
                            ul.catalog__submenu
                                li: a(href='#') Экопродукция
                        li.catalog__sublink
                            a(href='#')
                                span
                                    img(src='./img/menu_ico/growth.svg')
                                | Экопродукция
                            ul.catalog__submenu
                                li: a(href='#') Экопродукция
                        li
                            a(href='#') Весь каталог
                li: a(href='./logotypes.html') Нанесение логотипов
                li: a(href='#') О нас
                li: a(href='/delivery.html') Доставка
                li: a(href='#') Оплата
                li: a(href='/contacts.html') Контакты
            a.btn.btn__white(href='#') Связаться